= "Restaurant Results for '#{@restaurant_query}'"
%h1 Listing restaurant results

%table
  %thead
    %tr
      %th Name
      %th Address
      %th Phone Number
      %th Description

  %tbody
    - @restaurants.each do |restaurant|
      %tr
        %td= restaurant.name
        %td= restaurant.address
        %td= restaurant.phone_number
        %td= restaurant.description
      %tr
        %td= link_to 'Show', restaurant

%br