-# edit.html.haml using partial

%h2 Edit Existing Food

= link_to 'Back to restaurant page', restaurant_path(@food.restaurant_id)

= form_tag update_food_path(@food), :method => :put do

  = label :food, :name, 'Name'
  = text_field :name, 'name'
  
  = label :food, :price, 'Price'
  = text_field :price, 'price'
  
  = label :food, :tags, 'Tags'
  = text_field :tags, 'tags'

  = submit_tag 'Update Food Info'