-# edit.html.haml using partial

%h2 Edit Existing Restaurant

= link_to 'Back to restaurant page', restaurant_path(@restaurant)

= form_tag restaurant_path(@restaurant), :method => :put do

  = label :restaurant, :name, 'Name'
  = text_field :restaurant, 'name'
  
  = label :restaurant, :address, 'Address'
  = text_field :restaurant, 'address'
  
  = label :restaurant, :phone_number, 'Phone Number'
  = text_field :restaurant, 'phone_number'
  
  = label :restaurant, :description, 'Description'
  = text_field :restaurant, 'description'

  = submit_tag 'Update Restaurant Info'