%h1 Restaurant Listings

%table
  %thead
    %tr
      %th Name
      %th Address
      %th Phone Number
      %th Description

  %tbody
    - @restaurants.each do |restaurant|
      %tr
        %td= restaurant.name
        %td= restaurant.address
        %td= restaurant.phone_number
        %td= restaurant.description
      %tr
        %td= link_to "More info for #{restaurant.name}", restaurant_path(restaurant)

%br

= link_to 'New Restaurant', new_restaurant_path
