-# in app/views/movies/show.html.haml

%h3 Details about #{@restaurant.name}

// Restaurant Owner:
// = @restaurant.user
// = @restaurant.user.name

%ul#details
  %li
    Address:
    = @restaurant.address
  %li
    Phone Number:
    = @restaurant.phone_number

%h4 Description:

%p#description= @restaurant.description

= link_to 'Edit', edit_restaurant_path(@restaurant)
= button_to 'Delete', restaurant_path(@restaurant), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to restaurant list', restaurants_path

%h1 Listing Foods

%table
  %thead
    %tr
      %th Name
      %th Rating
      %th Price
      %th Tags
      %th
      %th

  %tbody
    - @foods.each do |food|
      %tr
        %td= food.name
        %td= food.rating
        %td= food.price
        %td= food.tags
        %th= link_to 'Edit', edit_food_path(food)
        %th= button_to 'Rate', rate_food_path(food), method: :get, params: { restaurant_id: @restaurant.id, food_id: food.id }

%br

= button_to "Add New Food", new_food_path, method: :get, params: { restaurant_id: @restaurant.id }
